.body-default{
    background: linear-gradient(to bottom, #71a7dd, #073869);
}

.btn-login{
    background: #00cc99;
    margin-top: 20px;
}

.logo{
    background-image: url(../../assets/imgs/control.png);
    background-size: cover;
    background-position: center;
}