.principalcontato {
    background: linear-gradient(to bottom, #71a7dd, #073869);
    
  
    
  
}
.principalcontato ion-item{
    border-radius: 10px;
    opacity: 0.8;
}
.principalcontato ion-item img{
    border-radius: 50%;
}