.principal {
    background: linear-gradient(to bottom, #71a7dd, #073869);
  
    
  
}
.btn-custom1{
    background: #00cc99;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
    
}

#card{
    border-radius: 10px;
}