.principalcompra {
    background: linear-gradient(to bottom, #71a7dd, #073869);
    
}
.btn-custom{
    margin-top: 30px;
    background: #00cc99;
    text-align: center;
    

}
#cardcompra{
    border-radius: 10px;
    width: 100%;
    margin-left: 0%;
}
